<fieldset>
  <legend>Cadastro</legend>
  <form action="/user" method="post">
    <div>
      <label for="first_name"> Primeiro nome: </label>
      <input type="text" id="first_name" name="first_name">
    </div>
    <br>
    <div>
      <label for="last_name"> Segundo nome: </label>
      <input type="text" id="last_name" name="last_name">
    </div>
    <br>
    <div>
      <label for="age"> Idade: </label>
      <input type="text" id="age" name="age">
    </div>
    <br>
    <div>
      <label for="password"> Senha: </label>
      <input type="text" id="password" name="password">
    </div>
    <br>
    <div>
      <input type="submit" value="Cadastrar">
    </div>
  </form>
</fieldset>
<br>
<%= button_to "Cancelar", root_path, method: :get %>